@model List<tarefa.Models.Tarefa>

<h1>tarefa controller</h1>
@if(Model.Count <0){
    <p> Nenhuma tarefa cadastrada</p>
}else{
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Descrição</th>
      <th scope="col">Criação</th>
      <th scope="col">Status</th>      
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tarefa in Model){
        <tr>
            <td>@tarefa.Id</td>
            <td>@tarefa.Titulo</td>
            <td>@tarefa.Descricao</td>
            <td>@tarefa.Criacao</td>
            <td>@tarefa.Status</td>
            <td>
                <a asp-controller="tarefa" asp-action= "editar" asp-route-id="@tarefa.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-controller="tarefa" asp-action="delete" asp-route-id="@tarefa.Id" class="btn btn-danger btn-sm">Excluir</a>
                <a asp-controller="tarefa" asp-action= "finalizar" asp-route-id="@tarefa.Id" class="btn btn-success btn-sm">Concluir</a>
            </td>
            
        </tr>

    }    
    
  </tbody>
</table>
}
<a asp-controller="tarefa" asp-action= "criar" class="btn btn-primary btn-sm">Nova tarefa</a>